<script lang="ts">
	import Marquee from '$src/components/Marquee.svelte';
	import Section from '$src/components/Section.svelte';
	import TextSlider from '$src/components/TextSlider.svelte';

	const roles: string[] = [
		'Content creation',
		'Copyright generation',
		'Software development',
		'Validations',
		'Staking',
		'and more...'
	];
</script>

<Section>
	<div class="relative w-full flex flex-col items-center py-20">
		<div
			class="hidden sm:block absolute top-[20%] md:top-40 lg:top-0 w-[150%] sm:w-[100%] pt-[150%] sm:pt-[100%] bg-purpleBright opacity-50"
		/>

		<div class="relative w-full flex flex-col items-center">
			<div
				class="card w-full max-w-sm sm:max-w-xl lg:max-w-3xl font-mono bg-gradient-to-b p-[2px] from-primary-focus to-secondary"
			>
				<div
					class="flex flex-col sm:flex-row text-center sm:text-left bg-base-100 p-2 py-4 h-fit lg:p-8 text-2xl lg:text-3xl w-full rounded-2xl bg-gradient-to-b from-base-content/5 to-transparent"
				>
					<div class="pr-2 text-info">Missions About:</div>
					<div class="flex-grow">
						<TextSlider data={roles} />
					</div>
				</div>
			</div>
			<div class="sm:hidden absolute bottom-0 w-full pt-[100%] bg-purpleBright opacity-50" />

			<div class="relative text-center text-info">
				<div class="pt-24 text-xl sm:text-3xl font-mono">Your avatar evolves as you progress!</div>
				<div class="pt-8 text-base sm:text-xl">
					And acquire amazing equipment never seen -nor created- before
				</div>
			</div>
			<div class="relative flex items-center justify-center w-5/6 sm:w-1/2 ">
				<div class="w-full pt-[100%]" />
				<div
					class="absolute animate-glow duration-1000 translate-x-[5%] -translate-y-[5%] bg-purpleBright rounded-[100%] pt-[100%] w-full"
				/>
				<object
					class="w-full absolute"
					style="transform:rotateZ(360deg)"
					title="game capsule"
					type="image/svg+xml"
					data="game_capsule.svg"
				/>
			</div>
		</div>
	</div>
</Section>
<section class="w-5/6 mx-auto">
	<div class="relative">
		<Marquee
			text="Coming soon /"
			class="textBorder text-3xl md:text-6xl whitespace-nowrap leading-normal text-black font-dmMono pr-8"
			length={8}
		/>
		<div class="absolute top-0 left-0 w-20 h-20 bg-gradient-to-r from-base-100 to-transparent" />
		<div class="absolute top-0 right-0 w-20 h-20 bg-gradient-to-l from-base-100 to-transparent" />
	</div>
</section>
