<script>
	import SupportedBy from '$src/sections/about/SupportedBy.svelte';
	import MisionAndVision from '$src/sections/about/MisionAndVision.svelte';
	import Header from '$src/sections/about/Header.svelte';
	import Team from '$src/sections/about/Team.svelte';
	import Join from '$src/sections/about/Join.svelte';
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Kelp Digital - About Us"
	description="Kelp is a remote distributed team on a mission to shift the power from the 
	centralized closed systems to individual creators by combining cutting edge 
	technology with creative powers of our community"
	keywords="kelp, kelp digital, anagolay, idiyanale, macula, remote signer, content creators, photography, ownership economy, 
	copyright statements, ownership statements, web3, rights management, 
	restore creative balance "
	twitter={{
		site: '@kelp_digital',
		title: 'Kelp Digital - About Us',
		description:
			'Kelp is a remote distributed team on a mission to shift the power from the centralized closed systems to individual creators by combining cutting edge technology with creative powers of our community',
		image:
			'https://ipfs.io/ipfs/QmbAKoEb3umPoCFsiypzmfnAUXZ236Bzw4nHJvBSWhRtWs?filename=kelp_twitter_card_about_us.png',
		imageAlt: 'Tech, law and art cloudy orbs on purple background'
	}}
/>

<Header />
<MisionAndVision />
<Team />
<Join />
<SupportedBy />
