<script>
	import Header from '$src/sections/products/Header.svelte';
	import Technologies from '$src/sections/products/Technologies.svelte';
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Kelp Digital tech & products"
	description="We build the essential tech infrastructure and distributed software for the emerging ownership economy and the fair market for digital creators."
	keywords="kelp, kelp digital, anagolay, idiyanale, macula, remote signer, content creators, 
	photography, ownership economy, copyright statements, ownership statements, web3, 
	rights management, on-the-fly image resizing"
	twitter={{
		site: '@kelp_digital',
		title: 'Kelp Digital tech & products',
		description:
			'We build the essential tech infrastructure and distributed software for the emerging ownership economy and the fair market for digital creators.',
		image:
			'https://ipfs.io/ipfs/QmWMjjzidUa58HdnhVrAsHAS4YQunqU6hJAxFGuCiFYzQ5?filename=kelp_twitter_card_products.png',
		imageAlt: 'Jellyfish brain with locks and coins in tentacles on purple background'
	}}
/>

<Header />
<Technologies />
