<script>
	import Section from '$src/components/Section.svelte';
	import Stars from '$src/components/Stars.svelte';
</script>

<Section>
	<div
		class="absolute w-4/5 pt-[80%] bg-bright from-primary-focus/80 to-transparent -translate-x-[50%] -translate-y-[25%]"
	/>
	<div slot="background" class="absolute w-full h-full"><Stars /></div>

	<div class="hero min-h-[65vh] flex flex-col w-full justify-evenly">
		<div class="hero-content flex-col md:flex-row w-full justify-start gap-8 my-12">
			<div class="md:w-1/2 text-center md:text-left font-workSans py-12 lg:py-16 xl:py-36">
				<h1 class="text-4xl lg:text-7xl font-bold md:w-[120%]">About Kelp team</h1>
				<h2 class="text-lg xl:text-xl lg:w-5/6 pt-16">
					We design and build software to create an environment where everyone can be productive and
					happy, where all contributions are encouraged and rewarded.
				</h2>
			</div>
			<object
				class="md:w-1/2 rounded-lg max-w-full max-h-full"
				title="Kelp seaweed animation"
				type="image/svg+xml"
				data="/about_us_header.svg"
			/>
		</div>
	</div>
</Section>
<Section>
	<div
		slot="background"
		class="absolute w-full h-full flex justify-center bg-gradient-to-b from-transparent via-primary-focus/30 to-transparent overflow-x-hidden"
	>
		<img
			width="1903"
			class="w-[120%] max-w-none"
			src="/about_us_kelp_background.svg"
			alt="kelp seaweed"
		/>
	</div>
	<div
		class="relative font-mono flex flex-col gap-32 md:gap-0 text-base md:text-xl 2xl:text-2xl max-w-md md:max-w-none mx-auto py-20"
	>
		<div class="relative flex w-full justify-center md:py-20 text-center">
			<div class="md:w-5/6">
				Have you ever heard of the underwater Kelp forests that protect all its inhabitants: from
				whales to the smallest fish?
			</div>
		</div>
		<div>
			<div class="flex w-full text-center md:text-left justify-end">
				<div class="md:w-1/2 md:pt-0 md:pb-40 lg:pb-40 lg:pt-20 xl:pb-60">
					That's what we want the digital Kelp to be for all the content creators and their work in
					the Internet waters.
				</div>
			</div>
		</div>
	</div>
</Section>
