<script>
	import LinkButton from '$src/components/LinkButton.svelte';
	import Section from '$src/components/Section.svelte';
</script>

<Section class="">
	<div
		class="relative py-20 md:py-40 max-w-sm sm:max-w-full flex flex-col gap-8 xl:gap-16 items-center justify-center mx-auto"
	>
		<div class="absolute w-5/6 md:w-1/3 left-0 md:left-[10%] -translate-x-[40%] opacity-80">
			<div class="w-2/5 mx-auto animate-glow bg-purpleBright opacity-50 p-[40%]" />
		</div>
		<div class="absolute bottom-0 lg:bottom-1/4 right-1/4 w-6 md:w-12">
			<img class="rotate-12" width="58" height="51" src="/star.svg" alt="four pikes star" />
		</div>

		<h1
			class="relative text-center text-2xl sm:text-4xl lg:text-7xl font-bold font-workSans max-w-4xl md:max-w-none mx-auto"
		>
			Want to be part of the change?
		</h1>
		<LinkButton
			href="https://www.notion.so/kelp/Kelp-Anagolay-Careers-c27cebdedf29461abda591bc23bad3f6"
			external={true}>Join the team</LinkButton
		>
	</div>
	<div class="flex w-full justify-center" />
</Section>
