<script>
	import Section from '$src/components/Section.svelte';
	import ShootingStar from '$src/components/ShootingStar.svelte';
</script>

<Section>
	<div
		id="mission-and-vision"
		class="flex w-full flex-col items-center md:-mt-24 -mt-12 pt-24 pb-12 md:pt-16 gap-12"
	>
		<div class="flex flex-col md:flex-row max-w-lg md:max-w-full items-center">
			<div class="w-full md:w-3/5 flex  flex-col items-center">
				<div class="flex w-full text-darkPurple-900 text-lg md:text-2xl font-dmMono py-4 md:py-8">
					<div class="pr-2 md:pr-4">/</div>
					<a href="#mission-and-vision" class="hover:underline">Mission</a>
				</div>
				<div class="font-workSans textGradient font-bold text-xl lg:text-3xl">
					To shift the power from the centralized closed systems to individual creators by combining
					cutting edge technology with creative powers of the community
				</div>
			</div>
			<div class="hidden md:flex flex-col items-center w-2/5 relative h-40">
				<ShootingStar class="w-1/2 max-h-[50%] md:max-h-full" />
				<ShootingStar class="w-5/6 max-h-[75%] md:max-h-full -translate-y-1/4" delay={1000} />
			</div>
		</div>

		<div class="flex flex-col md:flex-row-reverse max-w-lg md:max-w-full items-center py-12">
			<div class="w-full md:w-3/5 flex  flex-col items-center">
				<div class="flex w-full text-darkPurple-900 text-lg md:text-2xl font-dmMono py-4 md:py-8">
					<div class="pr-2 md:pr-4">/</div>
					<a href="#mission-and-vision" class="hover:underline">Vision</a>
				</div>
				<div class="font-workSans textGradient font-bold text-xl lg:text-3xl">
					A creative market where content creators are not bounded to any platform and can set the
					terms for others to use their work without a hitch.
				</div>
			</div>
			<div class="hidden md:block w-2/5">
				<object
					class="w-5/6 h-full"
					title="planet"
					type="image/svg+xml"
					data="/about_us_planet.svg"
				/>
			</div>
		</div>
	</div>
</Section>
