<script>
	import InfoCard from '$src/components/InfoCard.svelte';
	import Section from '$src/components/Section.svelte';
</script>

<Section id="supported-by" class="-mt-24 pt-24 pb-32 md:pb-40 text-center">
	<a
		href="#supported-by"
		class="pt-8 md:pt-12 text-info font-mono text-xl sm:text-3xl hover:underline">Supported by</a
	>
	<div class="py-4 md:py-8 font-workSans text-base md:text-xl">
		Kelp team and its products were recognized by and received support from
	</div>
	<InfoCard>
		<div
			slot="title"
			class="w-full mx-auto flex flex-wrap justify-evenly items-center md:py-4 sm:px-8 lg:px-16"
		>
			<img
				height="100"
				class="opacity-50 w-full py-2 max-w-[35%] sm:max-w-[20%]"
				src="/logo_web3.svg"
				alt="Web 3 logo"
			/>
			<img
				height="100"
				class="opacity-50 w-full py-2 max-w-[35%] sm:max-w-[20%]"
				src="/logo_media_motor.svg"
				alt="Media Motor logo"
			/>
			<img
				height="100"
				class="opacity-50 w-full py-2 max-w-[35%] sm:max-w-[20%]"
				src="/logo_europe.svg"
				alt="Europe logo"
			/>
			<img
				height="100"
				class="opacity-50 w-full py-2 max-w-[35%] sm:max-w-[20%]"
				src="/logo_sbp.svg"
				alt="SBP logo"
			/>
		</div>
	</InfoCard>
</Section>
