<script>
	import { fly, fade } from 'svelte/transition';
	import Section from '$src/components/Section.svelte';
	import SmallLinkButton from '$src/components/SmallLinkButton.svelte';

	let index = 0;
	let axis = 1;
	const team = [
		{
			name: 'Daniel Maricic',
			title: 'Founder & CTO',
			bio: 'Daniel is a chief architect of Kelp tech with over 15 years of experience in full-stack software engineering: from fintech to real-time auctions and image management software. He is also a long-time photographer, passionate chef, and windsurfer.',
			linkedIn: 'https://www.linkedin.com/in/danielmaricic/',
			github: 'https://github.com/woss',
			imgSrc: '/about_us_daniel.svg',
			imgAltText: 'green alien holding beer'
		},
		{
			name: 'Adriano Dalpane',
			title: 'Senior Engineer',
			bio: 'Adriano is a senior engineer with 11+ years of experience. For the last 2 years, he has been working with Rust and Substrate and now drives Anagolay implementation. He spends his weekends playing guitar, hiking, or cycling.',
			linkedIn: 'https://www.linkedin.com/in/adriano-dalpane/',
			github: 'https://github.com/digitalillusion',
			imgSrc: '/about_us_adriano.svg',
			imgAltText: 'blue alien playing the guitar'
		},
		{
			name: 'Leonardo Monay',
			title: 'Front-End Engineer',
			bio: 'Leonardo is a junior full-stack javascript developer specializing in decentralized solutions with 2+ years of experience. Leo also brews his own beer, dances salsa, enjoys a good gaming night and a moto ride.',
			linkedIn: 'https://www.linkedin.com/in/leomonay/',
			github: 'https://github.com/Leomonay',
			imgSrc: '/about_us_leo.svg',
			imgAltText: 'yellow alien drinking mate'
		},
		{
			name: 'Carla Pezzo',
			title: 'Art Direction & UI/UX',
			bio: 'Carla is a graphic designer, illustrator, and UX designer. She is passionate about everything that has to do with creativity, design, arts, and technology. She loves cats, nature, and doing yoga.',
			linkedIn: 'https://www.linkedin.com/in/carla-pezzo/',
			imgSrc: '/about_us_carla.svg',
			imgAltText: 'pink alien with an incense'
		},
		{
			name: 'Elena Tairova',
			title: 'Founder & CEO',
			bio: 'Elena is CEO of Kelp Digital & Founder of Anagolay, with 10+ years of experience in digital strategy, media, & policy. Since 2017 she has been working with DLT projects. Elena holds EMBA and MS in Economics & Management. To clear up her mind, Elena enjoys painting, windsurfing, and jogging.',
			linkedIn: 'https://www.linkedin.com/in/elena-tairova/',
			imgSrc: '/about_us_elena.svg',
			imgAltText: 'blue alien having icecream'
		}
	];
	function setNext() {
		if (index + 1 === team.length) {
			index = 0;
		} else {
			index++;
		}
	}
	function setPrevious() {
		if (index === 0) {
			index = team.length - 1;
		} else {
			index--;
		}
	}
</script>

<Section id="team" class="-mt-24 pt-24 md:mt-0 md:pt-20">
	<div class="relative flex w-full flex-col items-center gap-4 ">
		<div class="absolute w-full h-full sm:h-[200%] rounded-[100%] bg-purpleBright" />

		<div
			class="absolute w-full h-full sm:h-[200%] translate-y-[10%] rounded-[100%] bg-gradient-to-b from-base-200 via-base-100 to-base-100"
		/>
		<div
			class="absolute w-full h-full sm:h-[200%] bg-gradient-to-r from-base-100/70 via-transparent to-base-100/70"
		/>
		<div class="relative text-center flex w-full flex-col items-center gap-4">
			<a href="#team" class="hover:underline">
				<h2 class="text-2xl lg:text-4xl font-mono text-center pt-24 xl:pt-28 pb-8 text-info">
					Meet the team
				</h2>
			</a>
			<h4 class="text-base lg:text-lg text-center w-5/6">
				Kelp Digital is a remote distributed team on a mission to shift the power from the
				centralized closed systems to individual creators by combining cutting edge technology with
				creative powers of our community. We are a pragmatic bunch who are not afraid to break the
				norms to get the stuff done.
			</h4>
		</div>
	</div>
	<div class="relative">
		<div>
			<div class="flex w-full justify-center pt-8 md:py-8 xl:pt-20">
				<diV class="overflow-hidden flex no-wrap">
					<div class="flex flex-col max-w-xs md:max-w-full md:w-full min-w-full md:flex-row w-full">
						<div
							class="relative h-full w-full md:w-[40%] md:min-w-[40%] flex flex-col items-center justify-center"
						>
							<div class="absolute w-3/4 bottom-8 bg-purpleBright opacity-25 h-12" />

							<div
								class="relative h-60 md:h-5/6 w-5/6 flex justify-center items-center overflow-hidden"
							>
								{#each team as member, i}
									{#if i === index}
										<img
											width="277"
											height="287"
											class="absolute w-2/3"
											in:fly|local={{ x: 300 * axis, duration: 1000 }}
											out:fly|local={{ x: -300 * axis, duration: 1000 }}
											src={member.imgSrc}
											alt={member.imgAltText}
										/>
									{/if}
								{/each}
								<div
									class="absolute h-full left-0 w-1/6 bg-gradient-to-r from-base-100 to-transparent "
								/>
								<div
									class="absolute h-full right-0 w-1/6 bg-gradient-to-l from-base-100 to-transparent"
								/>
							</div>

							<div class="flex pt-4">
								<button
									aria-label="previous"
									class="h-10"
									title="Previous"
									on:click={setPrevious}
									on:mouseover={() => (axis = -1)}
									on:focus
								>
									<img
										width="30"
										height="14"
										src="/icon_up.svg"
										alt="previous"
										class="-rotate-90 px-2"
									/>
								</button>
								<button
									aria-label="next"
									class="h-10"
									title="Next"
									on:click={setNext}
									on:mouseover={() => (axis = 1)}
									on:focus
								>
									<img
										width="30"
										height="14"
										src="/icon_up.svg"
										alt="previous"
										class="rotate-90  px-2"
									/>
								</button>
							</div>
						</div>
						{#each team as member, i}
							{#if i === index}
								<div
									class="relative w-full md:w-[60%] md:min-w-[60%] font-workSans text-base xl:text-lg md:px-4"
									in:fade|local={{ duration: 600, delay: 300 }}
									out:fade|local={{ duration: 300 }}
								>
									<div class="py-12">
										<div class="flex text-lg md:text-xl flex-col w-fit textGradient font-bold">
											{member.title}
										</div>
										<div class="text-info py-2">/ {member.name}</div>
										<div class="h-52 md:h-44">
											{member.bio}
										</div>
										<div class="flex gap-8">
											<SmallLinkButton class="p-4" href={member.linkedIn}>
												<img
													slot="image"
													class="w-4 h-4"
													height="20"
													width="20"
													src="/icon_linkedin.svg"
													alt="linkedin icon"
												/>
											</SmallLinkButton>
											{#if member.github}
												<SmallLinkButton class="p-4" href={member.github}>
													<img
														slot="image"
														class="w-4 h-4"
														height="20"
														width="20"
														src="/icon_github.svg"
														alt="github icon"
													/>
												</SmallLinkButton>
											{/if}
										</div>
									</div>
								</div>
							{/if}
						{/each}
					</div>
				</diV>
			</div>
		</div>
	</div></Section
>
