<script>
	import InfoCard from '$src/components/InfoCard.svelte';
	import Section from '$src/components/Section.svelte';
	import Stars from '$src/components/Stars.svelte';

	const cards = [
		'Provable copyright and ownership statements (photos and gear)',
		'Licensing and selling creative work peer-to-peer',
		' Simple and secure sharing  and photo management'
	];
</script>

<Section class="pb-16">
	<div
		class="absolute w-4/5 pt-[80%] bg-bright from-primary-focus/80 to-transparent -translate-x-[50%] -translate-y-[25%]"
	/>
	<div slot="background" class="absolute w-full h-full"><Stars /></div>

	<div class="hero min-h-screen flex flex-col w-full justify-evenly">
		<div class="hero-content flex-col md:flex-row w-full justify-start gap-8 my-12">
			<div class="md:w-7/12 text-center md:text-left font-workSans py-8 lg:py-28">
				<h1 class="text-4xl lg:text-7xl font-bold w-full">
					Your photos,<br /> on your terms
				</h1>
				<h2 class="text-lg xl:text-xl py-8 md:w-5/6 md:pt-16 md:pb-0">
					Manage, protect, share, license, and sell your content with one tool, simple & secure.
				</h2>
			</div>
			<object
				class="md:w-5/12 max-w-md md:max-w-none rounded-lg md:-mx-[5%]"
				title="protected artwork animation"
				type="image/svg+xml"
				data="/photography_header.svg"
			/>
		</div>
		<div class="flex flex-col md:flex-row  gap-4 pt-20 md:py-20 w-full">
			{#each cards as card}
				<InfoCard class="basis-1/3">
					<div
						slot="title"
						class="flex font-medium md:h-36 lg:h-20 w-3/4 md:w-full mx-auto md:max-w-[240px] items-center"
					>
						{card}
					</div>
				</InfoCard>
			{/each}
		</div>
	</div>
</Section>
