<script>
	import LinkButton from '$src/components/LinkButton.svelte';
	import Section from '$src/components/Section.svelte';
</script>

<Section class="pt-20 md:pb-40">
	<div class="flex w-full justify-center">
		<LinkButton
			href="https://www.notion.so/kelp/Kelp-Q-A-19a1f21aa9b04bc7bb9933080f7a8f15"
			external={true}>See FAQs</LinkButton
		>
	</div>
	<div
		class="relative py-40 md:pt-48 pb-64 max-w-sm sm:max-w-lg lg:max-w-full flex items-center mx-auto"
	>
		<div class="absolute w-1/3 -translate-x-[40%] -translate-y-[20%]">
			<div class="w-2/3 mx-auto animate-glow bg-purpleBright opacity-50 pt-[67%]" />
		</div>
		<img
			width="1248"
			height="333"
			class="absolute w-full"
			src="/ellipse.svg"
			alt="orbit with stars"
		/>

		<h1
			class="relative py-[15%] text-center text-2xl sm:sm:text-4xl lg:text-7xl font-bold font-workSans mx-auto"
		>
			Soon available for all visual content creators
		</h1>
	</div>
</Section>
