<script>
	import Section from '$src/components/Section.svelte';
	import SubSection from '$src/components/SubSection.svelte';

	const line = {
		topRight:
			'absolute w-1/3 right-[25%] -translate-y-[1px] h-1/6 border-r border-t border-info rounded-tr-[3rem]',
		topLeft:
			'absolute w-1/3 left-[25%] -translate-y-[1px] h-1/6 border-l border-t border-info rounded-tl-[3rem]',
		bottomLeft:
			'absolute w-1/3 left-[25%] h-1/6 bottom-0 border-l border-b border-info rounded-bl-[3rem]',
		bottomRight:
			'absolute w-1/3 right-[25%] h-1/6 bottom-0 border-r border-b border-info rounded-br-[3rem]'
	};

	const steps = [
		{
			class: 'md:flex-row-reverse',
			title: 'Sync your photos with KELP',
			lines: [line.bottomRight],
			content: [
				'Wherever you are, upload your photos & videos with blazing speed to our cloud. Fully encrypted and available only to you.'
			],
			imgSrc: '/photography_sync.svg',
			imgAltText: 'cloud with verified shields'
		},
		{
			class: 'md:flex-row',
			title: 'Verify your camera & lens',
			lines: [line.topLeft, line.bottomLeft],
			content: ['Use our workflow to verify the ownership of your camera & lens.'],
			imgSrc: '/photography_camera.svg',
			imgAltText: 'camara with lens'
		},
		{
			class: 'md:flex-row-reverse',
			title: 'Get your digital copyright statement',
			lines: [line.topRight, line.bottomRight],
			content: [
				'Once the equipment is successfully verified, you can claim the copyright of your photos. Sign the statements with your private key and they will be safely stored by Anagolay Network.'
			],
			imgSrc: '/photography_copyright.svg',
			imgAltText: 'copyright statement'
		},
		{
			class: 'md:flex-row',
			title: 'Set your own terms',
			lines: [line.topLeft, line.bottomLeft],
			content: [
				'Select a license, max size you want your photo to be available at. You can also restrict or exclusively allow the access from selected websites.'
			],
			imgSrc: '/photography_terms.svg',
			imgAltText: 'photography icon with a lock'
		},
		{
			class: 'md:flex-row-reverse',
			title: 'Share simple & secure',
			lines: [line.topRight],
			content: [
				'Publish or share your photos with a Unified link that could be embedded and shared on any platform. Enjoy on-the-fly image resizing.'
			],
			imgSrc: '/photography_share.svg',
			imgAltText: 'share and security icons'
		}
	];
</script>

<Section id="how-it-works" class="font-workSans -mt-8 pt-20">
	<div class="relative">
		<div class="absolute w-full h-full sm:h-[200%] rounded-[100%] bg-purpleBright" />

		<div
			class="absolute w-full h-full sm:h-[200%] translate-y-[10%] rounded-[100%] bg-gradient-to-b from-base-200 via-base-100 to-base-100"
		/>
		<div
			class="absolute w-full h-full sm:h-[200%] bg-gradient-to-r from-base-100/70 via-transparent to-base-100/70"
		/>
		<div class="relative text-center flex w-full flex-col items-center gap-4">
			<a href="#how-it-works" class="hover:underline">
				<h2 class="text-2xl lg:text-4xl font-mono text-center pt-24 xl:pt-28 pb-8 tex-info">
					How it works
				</h2>
			</a>
			<h4 class="text-base lg:text-lg text-center w-5/6">
				Make copyrights easy to check and prove. We create traceable statements for the original
				image and all its modifications. We also keep track of all the associated licenses and
				copyright transfers.
			</h4>
		</div>
	</div>
	<div class="relative">
		<div class="max-w-lg md:max-w-full pt-20">
			{#each steps as item}
				<SubSection class={item.class}>
					<div class="hidden md:block" slot="background">
						{#each item.lines as line}
							<div class={line} />
						{/each}
					</div>

					<div slot="title" class="flex-grow">{item.title}</div>
					<div slot="content">
						{#each item.content as line}
							<p class="pb-6">
								{line}
							</p>
						{/each}
					</div>
					<div slot="image" class="relative flex justify-center w-full">
						<div class="absolute h-full w-full flex items-center justify-center opacity-40">
							<div class="w-3/4 pt-[75%] bg-purpleBright animate-glow " />
						</div>
						<img
							width="520"
							height="416"
							src={item.imgSrc}
							alt={item.imgAltText}
							class="relative w-5/6"
						/>
					</div>
				</SubSection>
			{/each}
		</div>
	</div>
</Section>
