<script lang="ts">
	// check how this work
	let form: HTMLDivElement;
	let success: HTMLDivElement;

	/**
     * This function turns off the form and displays the message "Thank you after submitting."
     * requires this script
     * 	<script
		src="https://static.mailerlite.com/js/w/webforms.min.js?v7316d10e2931a97c7b0f5c7e7e7be3ea"
		type="text/javascript" />
     */
	function ml_webform_success_5047595() {
		// 	var r = ml_jQuery || jQuery;
		// 	r('.ml-subscribe-form-5047595 .row-success').show(),
		// 		r('.ml-subscribe-form-5047595 .row-form').hide();
		//
		// 	originally, row-success had this:
		//  style="display:none"
		form.classList.remove('flex');
		form.classList.add('hidden');
		success.classList.remove('hidden');
	}
</script>

<div id="mlb2-5047595" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-5047595">
	<div class="ml-form-align-center">
		<div class="ml-form-embedWrapper embedForm">
			<div
				class="ml-form-embedBody ml-form-embedBodyDefault row-form flex flex-col items-center font-workSans"
				bind:this={form}
			>
				<div class="ml-form-embedContent" style="">
					<h4 class="text-4xl lg:text-7xl font-workSans text-center font-bold my-12">
						Be among the first to try Kelp Digital
					</h4>
				</div>
				<form
					class="ml-block-form flex flex-col items-center"
					action="https://static.mailerlite.com/webforms/submit/q1a6l1"
					data-code="q1a6l1"
					method="post"
					target="_blank"
				>
					<div class="ml-form-formContent flex flex-col py-8 gap-4 w-full items-center">
						<div
							class="ml-form-fieldRow bg-gradient-to-b p-[1px] from-primary-focus to-secondary w-full max-w-xl rounded-lg"
						>
							<div class="ml-field-group ml-field-name bg-base-100 rounded-lg">
								<input
									aria-label="name"
									type="text"
									class="form-control rounded-lg w-full p-2 sm:py-4 bg-base-100 bg-gradient-to-b from-base-content/5 to-transparent"
									data-inputmask=""
									name="fields[name]"
									placeholder="Name"
									autocomplete="name"
								/>
							</div>
						</div>
						<div
							class="ml-form-fieldRow ml-last-item bg-gradient-to-b p-[1px] from-primary-focus to-secondary w-full max-w-xl rounded-lg"
						>
							<div
								class="ml-field-group ml-field-email ml-validate-email ml-validate-required bg-base-100 rounded-lg"
							>
								<input
									aria-label="email"
									aria-required="true"
									type="email"
									class="form-control rounded-lg w-full p-2 sm:py-4 bg-base-100 bg-gradient-to-b from-base-content/5 to-transparent"
									data-inputmask=""
									name="fields[email]"
									placeholder="Email"
									autocomplete="email"
								/>
							</div>
						</div>
					</div>
					<div class="ml-form-embedPermissions" style="">
						<div class="ml-form-embedPermissionsContent default privacy-policy">
							<p style="text-align:center">
								<span class="text-sm">
									We'll send you product updates and stories that you might be interested in. We
									respect your privacy, unsubscribe anytime.
								</span>
							</p>
						</div>
					</div>
					<input type="hidden" name="ml-submit" value="1" />
					<div class="ml-form-embedSubmit flex w-full justify-center">
						<button
							type="submit"
							class="relative mt-12 w-full border-0 py-4 sm:py-6 text-center max-w-xs h-fit rounded-full bg-gradient-to-r from-secondary-content to-secondary shadow-button hover:from-base-300 hover:to-secondary active:shadow-pressed active:transform-none"
							>Join The Waitlist</button
						>
						<button disabled style="display:none" type="button" class="loading">
							<div class="ml-form-embedSubmitLoad" />
							<span class="sr-only">Loading...</span>
						</button>
					</div>
					<input type="hidden" name="anticsrf" value="true" />
				</form>
			</div>
			<div class="ml-form-successBody row-success" bind:this={success}>
				<div class="ml-form-successContent">
					<h4 class="text-3xl md:text-6xl text-center font-bold my-12 hidden">Thank you!</h4>
				</div>
			</div>
		</div>
	</div>
</div>
