<script lang="ts">
	export let text = '';
	let extraClass = '';
	export { extraClass as class };
	export let length: number;
	let array = Array(length);
</script>

<div class="flex w-full overflow-hidden">
	{#each array as i}
		<div class="animate-marquee {extraClass} shadow-white py-2">{text}</div>
	{/each}
</div>
