<script>
	let extraClass = '';
	export let href = '';
	export { extraClass as class };
</script>

<a
	{href}
	class="btn {extraClass} hover:bg-base-200 border-0 bg-transparent bg-gradient-to-b from-white/10 to-transparent border-primary-focus shadow-button shadow-primary-focus rounded-[100%] active:shadow-pressed"
	target="_blank"
	rel="noopener noreferrer"
>
	<slot name="image" />
</a>
