<script>
	let extraClass = '';
	export { extraClass as class };
</script>

<div class="relative">
	<div class="absolute w-full h-full"><slot name="background" /></div>
	<div class="relative flex flex-col {extraClass} items-center">
		<div class="basis-1/2 h-full pt-8 md:pt-0">
			<slot name="image" />
		</div>

		<div class="basis-1/2 py-12 md:py-28 lg:py-40">
			<div class="flex text-xl sm:text-3xl pb-6">
				<div class="text-info pr-4 md:pr-6">//</div>
				<slot name="title" />
			</div>
			<div class="text-base md:text-lg">
				<slot name="content" />
			</div>
		</div>
	</div>
</div>
