<script lang="ts">
	import { onMount } from 'svelte';

	export let href = '';
	export let text = '';
	export let external = false;

	let anchor: HTMLAnchorElement;
	onMount(() => {
		if (external) {
			anchor.target = '_blank';
			anchor.rel = 'noreferrer';
		} else {
			anchor.target = '_self';
		}
	});
</script>

<a data-sveltekit-preload-data="off" bind:this={anchor} {href}>
	<div class="w-fit">
		<div class="font-bold textGradient">{text}</div>
		<div class="h-[1px] w-full bg-gradient-to-r from-info to-primary" />
	</div>
</a>
