<script lang="ts">
	import { onDestroy, onMount } from 'svelte';

	export let data: string[];
	let index = 0;
	let visible = true;
	let vanish = '';
	export let time = 2000;

	function increase() {
		if (visible) {
			visible = false;
		}
		index = index + 1 === data.length ? 0 : index + 1;
	}
	let interval: any;
	onMount(() => {
		interval = setInterval(increase, time);
		vanish = 'animate-vanishLeft sm:animate-vanishUp';
	});
	onDestroy(() => clearInterval(interval));
</script>

<div class="w-full h-full overflow-hidden">
	<div class="relative flex items-start pb-8 pt-2 sm:pt-0 w-full text-center sm:text-left">
		{#if visible}
			<div class="absolute {vanish} w-full">
				{data[0]}
			</div>
		{:else}
			{#each data as item, i}
				{#if data[0] && index === i}
					<div class="absolute w-full animate-slideX sm:animate-slideY">
						{item}
					</div>
				{/if}
			{/each}
		{/if}
	</div>
</div>
