<script>
	import Section from '$src/components/Section.svelte';
	import Stars from '$src/components/Stars.svelte';
</script>

<Section>
	<div slot="background" class="absolute w-full h-full"><Stars /></div>
	<div
		class="absolute w-4/5 pt-[80%] bg-bright from-primary-focus/80 to-transparent -translate-x-[50%] -translate-y-[25%]"
	/>
	<div class="hero min-h-screen flex flex-col w-full justify-evenly pb-20">
		<div class="hero-content flex-col md:flex-row w-full justify-start gap-8 my-12">
			<div class="md:w-1/2 text-center md:text-left font-workSans py-8 md:py-16 lg:py-24 xl:py-40">
				<h1 class="text-4xl lg:text-7xl font-bold w-full">Kelp tech for the galaxy</h1>
				<h2 class="text-lg xl:text-xl py-8  md:pt-16 md:pb-0">
					We build the essential infrastructure for the emerging ownership economy to work.
				</h2>
			</div>
			<object
				class="w-11/12 md:w-1/2 rounded-lg"
				title="products main animation"
				type="image/svg+xml"
				data="/products_header.svg"
			/>
		</div>
		<div class="relative flex w-100 justify-center pt-12 pb-0 md:pb-28 lg:pt-36 text-center">
			<img class="hidden md:block top-0 left-1/4 absolute w-1/10" src="/star.svg" alt="star" />
			<img class="hidden md:block bottom-0 right-1/4 absolute w-1/10" src="/star.svg" alt="star" />
			<div class="w-5/6 font-mono text-xl md:text-2xl">
				From layer 0 to end-user applications enabling the practical and scalable rights management
				for the web3
			</div>
		</div>
	</div>
</Section>
