<script lang="ts">
	import Section from '$src/components/Section.svelte';
	import TechnologyLink from '$src/components/TechnologyLink.svelte';
	import { anagolayUrl, maculaUrl } from '$src/config';

	const technologies = [
		{
			name: 'macula',
			title: 'Macula',
			lines: [
				'Macula is a Web3 multimedia platform for publishing, managing, and sharing content with built-in on-the-fly image optimization and copyright protection. It allows both developers and creators to enjoy the benefits of IPFS in their daily work without the associated hassle.'
			],
			link: {
				href: maculaUrl,
				text: 'Check Macula',
				external: true
			},
			imgSrc: '/products_macula.svg',
			imgAltText: 'Eye scanning picture'
		},

		{
			name: 'kelp-application',
			title: 'Kelp Application',
			lines: [
				'Kelp.Digital is a decentralized content management tool for the creative market to validate, share, and license digital media assets. Content creators can issue legally binding digital copyright statements before sharing their works online, making sure copyrights are easy to check and prove.',
				'While initially focused on visual content such as photos & videos, Kelp can be scaled to support streaming, gaming, and the challenging case of the music industry.'
			],
			link: {
				href: '/#waitlist',
				text: 'Join the waitlist',
				external: false
			},
			imgSrc: '/products_kelp_app.svg',
			imgAltText: 'share artwork and montetizing'
		},
		{
			name: 'anagolay',
			title: 'Anagolay',
			lines: [
				'Anagolay is a process-based interplanetary P2P framework built for storing, verifying, and transferring Intellectual Property rights like digital Copyrights and Ownerships. The power of Anagolay lies in the Workflows - blockchain agnostic processes built for off-chain use.',
				'Anagolay Framework enables the key functionality of Kelp.Digital hybrid decentralized application. '
			],
			link: {
				href: anagolayUrl,
				text: 'Anagolay Network',
				external: true
			},
			imgSrc: '/products_anagolay.svg',
			imgAltText: 'Proof generation'
		},
		{
			name: 'idiyanale',
			title: 'Idiyanale',
			lines: [
				'The Pioneer mainnet for Anagolay Framework and the playground for developers, where they can try and test both new and existing features of the Anagolay framework in an unrefined, unpredictable, but realistic on-chain environment.',
				'Idiyanale will pass all the relevant data & value to the Anagolay genesis block at the Network Succession event.'
			],
			link: {
				href: 'https://anagolay.network/idiyanale/mainnet/',
				text: 'Idiyanale Network',
				external: true
			},
			imgSrc: '/products_idiyanale.svg',
			imgAltText: 'Idiyanale playground'
		},
		{
			name: 'remote-signer',
			title: 'Remote Signer',
			lines: [
				'Sign your work remotely using your phone. Git commits can be signed using a PGP key stored on your phone and unlocked with biometric sensors.',
				'Copyright and Ownership Statements on Anagolay can also be signed with Kelp’s Remote Signer.'
			],
			imgSrc: '/products_signer.svg',
			imgAltText: 'fingerprint with lock and verified shield'
		}
	];
</script>

<Section class="text-white font-workSans pb-40">
	{#each technologies as item, i}
		<div id={item.name} class="relative">
			<div
				class="relative flex flex-col items-center"
				class:md:flex-row-reverse={i % 2 === 1}
				class:md:flex-row={i % 2 === 0}
			>
				<div class="basis-1/2 h-full pt-24 md:pt-0">
					<div class="relative flex w-full justify-center items-center">
						<div class="absolute h-full w-full flex items-center justify-center opacity-40">
							<div class="w-4/5 pt-[80%] scale-125 lg:scale-110 bg-purpleBright animate-glow" />
						</div>
						<img
							width="446"
							height="371"
							class="relative w-3/4 md:w-[unset]"
							src={item.imgSrc}
							alt={item.imgAltText}
						/>
					</div>
				</div>

				<div class="basis-1/2 py-12 md:py-28 lg:py-40">
					<div class="flex text-xl sm:text-3xl mb-6 ">
						<p class="text-info pr-4 md:pr-6">//</p>
						<a href={'#' + item.name} class="hover:underline">
							{item.title}
						</a>
					</div>
					<div class="text-base md:text-lg">
						{#each item.lines as line}
							<p class="pb-6">{line}</p>
						{/each}
						{#if item.link}
							<TechnologyLink
								href={item.link.href}
								text={item.link.text}
								external={item.link.external}
							/>
						{/if}
					</div>
				</div>
			</div>
		</div>
	{/each}
</Section>
