@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* styles not supported by daisyui or tailwindcss */
	/* scroll bars styles */
	*::-webkit-scrollbar {
		-webkit-appearance: none;
		background: rgba(255, 255, 255, 0.1);
	}

	*::-webkit-scrollbar-thumb {
		background: rgba(150, 150, 150, 0.5);
		border-radius: 20px;
	}

	*::-webkit-scrollbar-track {
		border-radius: 0.5rem;
	}
	/* end of scroll bars styles */

	/* styles not supported by tailwind or daisyUi */
	.textGradient {
		background: -webkit-linear-gradient(180deg, #9747ff 0%, #d1c4e9 88.93%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.textBorder {
		text-shadow: 1px 0 var(--tw-shadow-color), -1px 0 var(--tw-shadow-color),
			0 1px var(--tw-shadow-color), 0 -1px var(--tw-shadow-color), 1px 1px var(--tw-shadow-color),
			-1px -1px var(--tw-shadow-color), 1px -1px var(--tw-shadow-color),
			-1px 1px var(--tw-shadow-color);
	}

	.animated-svg {
		transform: rotateZ(360deg);
	}

	@font-face {
		font-family: Work Sans;
		font-display: fallback;
	}
	@font-face {
		font-family: Montserrat;
		font-display: fallback;
	}
	@font-face {
		font-family: DM Mono;
		font-display: fallback;
	}
}
