<script>
	import Header from '$src/sections/photography/Header.svelte';
	import Soon from '$src/sections/photography/Soon.svelte';
	import Steps from '$src/sections/photography/Steps.svelte';
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Kelp Digital for photographers"
	description="Distributed user-centric software for the digital photography market. 
	Kelp's digital copyright statements help photographers protect, share and license 
	photos they take. Simple, transparent, and secure."
	keywords="kelp, kelp digital, photography, photo copyright, 
	copyright statements, camera ownership, photo rights management, web3, 
	restore creative balance"
	twitter={{
		site: '@kelp_digital',
		title: 'Kelp Digital for photographers',
		description:
			"Distributed user-centric software for the digital photography market. Kelp's digital copyright statements help photographers protect, share and license  photos they take. Simple, transparent, and secure.",
		image:
			'https://ipfs.io/ipfs/QmebHHmm5fY9WdHNFexHGWtmHjruzCXRESJ1z1mRsJHnRa?filename=kelp_twitter_card_photography.png',
		imageAlt: 'Share icon with images around on purple background'
	}}
/>

<Header />
<Steps />
<Soon />
